@mixin placeholder($color: $input-placeholder-color) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    // Internet Explorer 10+
    &:-ms-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
    &::-webkit-input-placeholder {
        color: $color;
    }
}

@mixin hover($color: $input-hover-border-color) {
    border-color: tint($color, 20%);
}
@mixin hover-error() {
    border-color: $error-color;
}

@mixin active($color: $input-hover-border-color) {
    border-color: tint($color, 20%);
    outline: 0;
    box-shadow: 0 0 0 2px fade($color, 20%);
}
@mixin active-error() {
    border-color: $error-color;
    outline: 0;
    box-shadow: 0 0 0 2px fade($error-color, 20%);
}

@mixin disabled() {
    background-color: $input-disabled-bg;
    opacity: 1;
    cursor: $cursor-disabled;
    color: #ccc;
    &:hover {
        @include hover($input-border-color);
    }
}

@mixin input-large() {
    font-size: $font-size-base;
    padding: $input-padding-vertical-large $input-padding-horizontal;
    height: $input-height-large;
}

@mixin input-small() {
    padding: $input-padding-vertical-small $input-padding-horizontal;
    height: $input-height-small;
    border-radius: $btn-border-radius-small;
}

@mixin prefix-padding($inputClass) {
    .#{$inputClass}-with-prefix {
        padding-left: 32px;
    }
}

@mixin suffix-padding($inputClass) {
    .#{$inputClass}-with-suffix {
        padding-right: 32px;
    }
}

@mixin input() {
    display: inline-block;
    width: 100%;
    height: $input-height-base;
    line-height: $line-height-base;
    padding: $input-padding-vertical-base $input-padding-horizontal;
    font-size: $font-size-small;
    border: 1px solid $input-border-color;
    border-radius: $btn-border-radius;
    color: $input-color;
    background-color: $input-bg;
    background-image: none;
    position: relative;
    cursor: text;
    z-index: 2;
    @include placeholder();

    &:hover {
        @include hover();
    }

    &:focus {
        @include active();
    }

    &-disabled,
    &[disabled] {
        @include disabled();
    }

    // Size
    &-large {
        @include input-large();
    }

    &-small {
        @include input-small();
    }
}

@mixin input-affix-wrapper($inputClass) {
    position: relative;
    display: inline-block;
    width: 100%;

    &:hover .#{$inputClass}:not(.#{$inputClass}-disabled) {
        @include hover();
    }
}

@mixin input-error() {
    border: 1px solid $error-color;
    &:hover {
        @include hover-error;
    }
    &:focus {
        @include active-error;
    }
}

@mixin input-group($inputClass) {
    display: table;
    width: 100%;
    border-collapse: separate;
    position: relative;
    font-size: $font-size-small;
    //top: 1px; // fixed when using in form inline,

    &-large {
        font-size: $font-size-base;
    }

    &-large .#{$inputClass},
    &-large > &-prepend,
    &-large > &-append {
        @include input-large();
    }

    &-small .#{$inputClass},
    &-small > &-prepend,
    &-small > &-append {
        @include input-small();
    }

    & .#{$inputClass}-affix-wrapper {
        @include prefix-padding($inputClass);
        @include suffix-padding($inputClass);
    }

    &-prepend,
    &-append,
    > .#{$inputClass}-affix-wrapper,
    > .#{$inputClass} {
        display: table-cell;
    }

    &-with-prepend .#{$inputClass}-prefix,
    &-with-prepend .#{$inputClass} {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &-with-append .#{$inputClass}-suffix,
    &-with-append .#{$inputClass} {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &-prepend,
    &-append {
        width: 1px; // To make addon/wrap as small as possible
        white-space: nowrap;
        vertical-align: middle;
    }

    > .#{$inputClass}-affix-wrapper,
    > .#{$inputClass} {
        width: 100%;
        float: left;
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    }

    &-prepend,
    &-append {
        padding: $input-padding-vertical-base $input-padding-horizontal;
        font-size: inherit;
        font-weight: normal;
        //line-height: 1;
        color: $input-color;
        text-align: center;
        background-color: $input-group-bg;
        border: 1px solid $input-border-color;
        border-radius: $btn-border-radius;
    }

    &-prepend {
        border-right: 0;
    }
    &-append {
        border-left: 0;
    }

    > .#{$inputClass}:first-child,
    &-large > &-prepend,
    &-small > &-prepend,
    &-prepend {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    > .#{$inputClass}:last-child,
    &-large > &-append,
    &-small > &-append,
    &-append {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.input-group-error {
    &-prepend,
    &-append {
        background-color: #fff;
        border: 1px solid $error-color;
    }
    &-prepend {
        border-right: 0;
    }
    &-append {
        border-left: 0;
    }
}
