$input-prefix-cls: rw-input;
$input-height: 32px;
$input-color: #515a6e;

#{$prefixCls} {
    &-wrapper {
        display: inline-block;
        width: 100%;
        line-height: normal;
        position: relative;
        vertical-align: middle;
    }

    &-icon {
        width: 32px;
        height: $input-height;
        line-height: $input-height;
        font-size: 16px;
        text-align: center;
        // color: @subsidiary-color;
        position: absolute;
        right: 0;
        z-index: 3;
    }

    &-icon-clear {
        display: none;
    }

    &-wrapper:hover {
        .#{input-prefix-cls}-icon-clear {
            display: inline-block;
        }
    }

    &-prefix,
    &-suffix {
        width: 32px;
        height: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        i {
            font-size: 16px;
            line-height: $input-height;
        }
    }
    &-suffix {
        left: auto;
        right: 0;
    }
}
