/** Input */
.rw-input-wrapper {
    display: inline-flex;
    justify-content: stretch;
    position: relative;
}

.rw-input {
    position: relative;
    display: block;
    width: 100%;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    height: 32px;
    line-height: 22px;
    z-index: 1;
}

.rw-input-small {
    height: 24px;
    line-height: 22px;
    padding: 0 7px;
}

.rw-input-large {
    height: 40px;
    line-height: 24px;
    font-size: 16px;
    padding: 7px 11px;
}

.rw-input-affix-wrapper {
    position: relative;
    height: 32px;
    flex: 1;
}

.rw-input-affix-wrapper-small {
    height: 24px;
}

.rw-input-affix-wrapper-large {
    height: 40px;
}

.rw-input-affix-wrapper:hover .rw-input:not(:disabled),
.rw-input:hover:not(:disabled),
.rw-input:focus:not(:disabled) {
    border-color: #1890ff;
}

.rw-input-with-prepend .rw-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rw-input-with-append .rw-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rw-input-prepend,
.rw-input-append {
    position: relative;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    transition: all 0.3s;
    z-index: 0;
}

.rw-input-prepend {
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.rw-input-append {
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.rw-input-prefix,
.rw-input-suffix {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    background: #fff;
}

.rw-input-prefix {
    position: absolute;
    z-index: 2;
    top: 1px;
    bottom: 1px;
    left: 1px;
    padding: 0 4px;
    border-right: 1px solid #d9d9d9;
}
.rw-input-suffix {
    position: absolute;
    z-index: 2;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 0 4px;
    border-left: 1px solid #d9d9d9;
}

/** Textarea */
textarea.rw-input {
    display: inline-block;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    height: 54px;
    width: auto;
}
