.#{$input-prefix-cls} {
    @include input();

    &-affix-wrapper {
        @include input-affix-wrapper($input-prefix-cls);
    }

    &-wrapper {
        display: inline-block;
        width: 100%;
        line-height: normal;
        position: relative;
        vertical-align: middle;
        &:hover:not(.#{$input-prefix-cls}-group) .#{$input-prefix-cls}:not(.#{$input-prefix-cls}-disabled) {
            @include hover();
        }

        @include prefix-padding($input-prefix-cls);
        @include suffix-padding($input-prefix-cls);
    }

    &-icon {
        font-size: 16px;
        text-align: center;
        color: $subsidiary-color;
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    &-icon-clear {
        cursor: pointer;
    }

    &-wrapper-large &-icon {
        font-size: 18px;
    }
    &-wrapper-small &-icon {
        font-size: 14px;
    }

    &-prefix,
    &-suffix {
        width: 30px;
        // height: 100%;
        text-align: center;
        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        z-index: 3;

        border-radius: $btn-border-radius;
    }

    &-suffix {
        left: auto;
        right: 1px;
    }

    &-wrapper-small &-prefix,
    &-wrapper-small &-suffix {
        border-radius: $btn-border-radius-small;
    }

    &-wrapper-small &-prefix,
    &-prefix {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &-wrapper-small &-suffix,
    &-suffix {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.#{$input-prefix-cls}-group {
    @include input-group($input-prefix-cls);
}
