@import "_var";
@import "_mixins";

// search
.#{$input-prefix-cls} {
    &-wrapper-small &-search {
        padding: 0 12px !important;
        i {
            font-size: 14px;
        }
    }
    &-wrapper-large &-search {
        padding: 0 20px !important;
        i {
            font-size: 18px;
        }
    }

    &-with-search {
        &:hover {
            .#{$input-prefix-cls} {
                border-color: tint($primary-color, 20%);
            }
        }

        > .#{$input-prefix-cls}-group-append {
            cursor: pointer;
            padding: 0 16px !important;
            background: $primary-color !important;
            color: #fff !important;
            border-color: $primary-color !important;
            // transition: all $transition-time @ease-in-out;
            position: relative;
            z-index: 2;

            i {
                font-size: 16px;
            }

            &:hover {
                background: tint($primary-color, 20%) !important;
                border-color: tint($primary-color, 20%) !important;
            }
            &:active {
                background: shade($primary-color, 5%) !important;
                border-color: shade($primary-color, 5%) !important;
            }

            &-icon {
                cursor: pointer;
                // transition: color @transition-time @ease-in-out;
                &:hover {
                    color: inherit;
                }
            }

            &:before {
                content: "";
                display: block;
                width: 1px;
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -1px;
                background: inherit;
            }
        }
    }
}
